nav{
    display: flex;
    align-items: center;
    justify-content: right;
    height: 60px;
    width: 100%;
    text-align: center;
    background-color: white;
    position: fixed;
    transition: 0.3s;
    top: 0px;
    z-index: 99;
}
nav a{
    text-decoration: none;
    margin: 20px;
    color: black;
    position: relative;
    overflow: hidden;
    padding: 4px;
    font-size: 17px;
   
}
nav a::before{
    content: "";
    height: 1px;
    width: 100%;
    background: #3d52a0;
    position: absolute;
    z-index: -1;
    transition: 0.3s all ease-in;
    transform: translateX(-100%);
    cursor: pointer;
    left: 0;
    bottom: 2px;
}
nav a:hover::before{
    transform: translateX(-50%);
}
nav a:hover{
    color: #3d52a0;
}

nav a::after{
    content: "";
    height: 1px;
    width: 100%;
    background: #3d52a0;
    position: absolute;
    z-index: -1;
    transition: 0.3s all ease-in;
    transform: translateX(100%);
  
    left: 0;
    bottom: 2px;
}
nav a:hover::after{
    transform: translateX(50%);
}
.nav-a{
    
    display: flex;
    align-items: center;
    justify-content: right;
    height: 40px;
    width: 100%;
    text-align: center;
}
.imge{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 30px;
}
.imge img{
    z-index: 20;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.imge img:hover{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 150px;
}
.imge h1{
    z-index: 18;
    height: 40px;
    width: 200px;
    text-align: center;
    color: #3d52a0;
    font-size: 30px;
}
@keyframes scroll-watcher {
    4% { scale: 0 1;}
    100% {scale: 1 1;}
}
.scrolLine{
    height: 2px;
    width: 100%;
    position: fixed;
    animation: scroll-watcher;
    animation-timeline: scroll();
    top: 60px;
    left: 0;
    transform-origin: left;
    scale: 0 1;
    background-color: #495475;
}
@media (max-width: 500px){
    nav a{
        margin: 7px;
        font-size: 10px;
        justify-content: left;
    }
    nav{
        justify-content: center;
    }
    .imge h1{
        display: none;
    }
}